@font-face {
  font-family: 'AlibabaPuHui_light';
  src: url('../font/Alibaba-PuHuiTi-Light.ttf');
}

@font-face {
  font-family: 'AlibabaPuHui_medium';
  src: url('../font/Alibaba-PuHuiTi-Medium.ttf');
}

@font-face {
  font-family: 'AlibabaPuHui_Regular';
  src: url('../font/Alibaba-PuHuiTi-Regular.ttf');
}

body {
  margin: 0 !important;
  background:rgb(238,238,238);
  background: url(../img/main_page_bc.png) center top no-repeat;
  /* margin: 0 auto; */
  background-size: cover;
  /* overflow: hidden; */
  /* background-attachment: fixed; */
  overflow-y:auto;
  overflow-x:hidden
}

.whole_page_background{
  width: 100%;
  height: 100%;
  position: absolute;
}

.whole_page_background .head_title img{
  width: 341px;
  height: 82px;
  margin-top: 36px ;
  margin-left: 39px;
  z-index: 5;
}

.whole_page_background .head_title{
  width: 100%;
  display: flex;
}

.whole_page_background .luoxuan{
  display: flex;
}

.whole_page_background .luoxuan img{
  width: 464px;
  height: 773px;
  overflow: hidden;
  margin-top: 0 ;
  margin-left: -42px;
  z-index: -1;
}

.main_page{
  margin: auto;
  background: #fffbef;
  width: 1217px;
  height: 600px;
  margin-top: 152px; 
  overflow:hidden;
}

.head_title_3{
  display: flex;
  margin-left: 36px;
}

.left{
  z-index: 4;
}


.right{
  margin-left: 750px;
  margin-top: 45px;
  z-index: 5;
}

.case_title{
  font-family: "AlibabaPuHui_medium";
  font-size: 30px;
  color: #0f0303;
}

.author{
  font-size: 16px;
  color: #9c9696;
  font-family: "AlibabaPuHui_Regular";
  margin-top: -20px;
}

.time{
  font-size: 16px;
  color: #9c9696;
  font-family: "AlibabaPuHui_Regular";
  margin-top: -8px;
}

.huge{
  color: #df5757;
  font-size: 36.7px;
  font-family: "AlibabaPuHui_medium";
  margin-top: -40px;
}

.process{
  color: #a59f9e;
  font-family: "AlibabaPuHui_Regular";
  font-size: 18px;
  margin-top: -30px;
  margin-left: 15px;
}

.main_content{
  display: flex;
}

.left_content{
  margin-top: 20px;
  margin-left: 44px;
}

.left_title p{
  font-size: 24px;
  font-family: "AlibabaPuHui_medium";
  color: #0f0303;
}

.left_text p{
  width: 513.64px;
  height: auto;
  margin-top: -15px;
  font-family: "AlibabaPuHui_Regular";
  line-height: 2;
}

.line{
  margin: auto;
  width: 94%;
  border: 1px solid #bdbaba;
  margin-top: 5px;
}

.line_2{
  border-right: 2px solid #9c9696;
  margin-top: 87px;
  margin-left: 37px;
  margin-right: 10px;
  height: 121px;
}

  form{
    width: 520px;
    height: 220px;
    background: #fffbef;
    margin-left: 10px;
    margin-top: 55px;
    border-radius: 3px;
    padding: 20px;
    overflow: auto;
  }

  form ol{
    padding-left: 0;
  }

  form li{
    background-color: #f1ecec;
    display: flex;
    border-radius: 5px;
    /* justify-content: space-between;  */
    /*子元素沿主轴（水平方向）上均匀分布，最左边和最右边各自对齐容器的起始和结束位置 */
    list-style-type: none; /*移除列表项的默认样式*/
    /* padding: 10px; */
  }

  .final p{
    text-align: center;
    margin-top: 10px;
    font-family: "AlibabaPuHui_Regular";
    font-size: 18px;
  }

  form img{
    order: 1;
    width: 48px;
    height: 52px;
    /* margin-top: 14px; */
    margin-left: 10px;
    margin-top: 10px;
  }

  .type1{
    color: #1e1b1b;
    font-size: 18px;
    font-family: "AlibabaPuHui_Regular";
  }

  .type2{
    color: #999595;
    font-size: 14px;
    font-family: "AlibabaPuHui_Regular";
    margin-top: -15px;
  }

  li p{
    /* text-align: left; */
    flex-direction:column;
  }

  .cs{
    margin-top: -4px;
    order: 2;
    display: block;
    margin-left: 15px;
  }

  /* 进度条设置 */
.progress-bar {
  margin: auto;
  margin-top: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    background-color: #ddd;
    height: 20px;
    border-radius: 10px;
    padding: 0 5px;
  }
  
  .progress-step {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #fff;
    border: 2px solid #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    color: #777;
  }
  
  .progress-step.active {
    border-color: #0f8;
    background-color: #0f8;
    color: #fff;
  }
