@font-face {
    font-family: 'AlibabaPuHui_light';
    src: url('../font/Alibaba-PuHuiTi-Light.ttf');
}

body {
    background:rgb(238,238,238);
    background: url(../img/main_page_bc.png) center top no-repeat;
    margin: 0 auto;
    background-size: cover;
    /* overflow: hidden; */
    /* background-attachment: fixed; */
    overflow-y:auto;
overflow-x:hidden
}

.whole_page_background{
    width: 100%;
    height: 100%;
    position: absolute;
}

.whole_page_background .head_title img{
    width: 341px;
    height: 82px;
    margin-top: 36px ;
    margin-left: 39px;
    z-index: 5;
}

.whole_page_background .head_title{
    width: 100%;
    display: flex;
}

.whole_page_background .luoxuan{
    display: flex;
}

.whole_page_background .luoxuan img{
    width: 464px;
    height: 773px;
    overflow: hidden;
    margin-top: 0 ;
    margin-left: -42px;
    z-index: -1;
}

.main_page{
    margin: auto;
    background: #fffbef;
    width: 1217px;
    height: 600px;
    margin-top: 152px; 
    overflow:hidden;
}

.title_first{
    text-align: center;
    font-family: "方正粗黑宋简体";
    font-size: 30px;
    color: #e10f0f;
}

form{
    margin: auto;
}