@font-face {
    font-family: 'AlibabaPuHui_light';
    src: url('../font/Alibaba-PuHuiTi-Light.ttf');
}

body {
    background:rgb(238,238,238);
    background: url(../img/main_page_bc.png) center top no-repeat;
    margin: 0 auto;
    background-size: cover;
    /* overflow: hidden; */
    /* background-attachment: fixed; */
      /* 100%窗口高度 */
    height: 100vh;
    /* 弹性布局 水平+垂直居中 */
    justify-content: center;
    align-items: center;
  /* 渐变背景 */
}

.whole_page_background{
    width: 100%;
    height: 100%;
}

.whole_page_background .head_title img{
    width: 555px;
    height: 135px;
    margin-top:45px ;
    margin-left: 43px;
    z-index: 5;
}

.whole_page_background .head_title{
    width: 100%;
    display: flex;
}

.whole_page_background .luoxuan{
    display: flex;
}

.top_option{
    display: flex;
    margin-left: 1290px;
    /* margin-top: 20px; */
    z-index: 5;
    font-family: "AlibabaPuHui_light";
    font-size: 20;
}

.top_option p{
    color: #ffffff;
}

.top_option p:hover{
    color: #c8d211;
}

.luoxuan .line{
    margin-top: 20px;
    margin-right: 10px;
    height: 15px;
    width: 10px;
    border-right: solid #ffffff 1px;
}

.whole_page_background .luoxuan img{
    width: 464px;
    height: 773px;
    overflow: hidden;
    margin-top: 0 ;
    margin-left: -42px;
    z-index: -1;
}

.whole_page_background .main{
    margin: auto;
    background: #fffbef;
    width: 1217px;
    height: 550px;
    margin-top: 152px; 
    overflow:auto; 
    border-radius: 20px 20px 20px 20px;
}

.main_button{
    display: flex;
    margin-top: 60px;
}

.other_button{
    display: flex;
    margin-top: 60px;
}

.main_button img{
    width: 486px;
    height: 112px;
    margin-left: 30px;
}

.other_button img{
    width: 199px;
    height: 247px;
    margin-left: 30px;
}

.dianzilian{
    margin-left: 75px;
}

.wodeanjian{
    margin-left: 130px;
}
